<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%block name="pagetitle">${_("{course_number} Progress").format(course_number=course.display_number_with_default) | h}</%block>
<%block name="nav_skip">#course-info-progress</%block>

<%!
  from django.core.urlresolvers import reverse
  from util.date_utils import get_time_display
  from django.conf import settings
%>

<%include file="/dashboard/_dashboard_prompt_midcourse_reverify.html" />

<%include file="/courseware/course_navigation.html" args="active_page='progress'" />

<div class="container">
  <div class="profile-wrapper">

    <div class="course-info" id="course-info-progress" aria-label="${_('Course Progress')}">
      % if staff_access and studio_url is not None:
        <div class="wrap-instructor-info">
          <a class="instructor-info-action studio-view" href="${studio_url}">${_("View Grading in studio")}</a>
        </div>
      % endif

      <header>
        <h1>${_("Course Progress for Student '{username}' ({email})").format(username=student.username, email=student.email)}</h1>
      </header>

      %if settings.FEATURES.get("SHOW_PROGRESS_SUCCESS_BUTTON"):
        <%
          SUCCESS_BUTTON_URL = settings.PROGRESS_SUCCESS_BUTTON_URL.format(
            course_id=course.id.to_deprecated_string(), student_id=student.id)
          nonzero_cutoffs = [cutoff for cutoff in course.grade_cutoffs.values() if cutoff > 0]
          success_cutoff = min(nonzero_cutoffs) if nonzero_cutoffs else None
        %>
        %if success_cutoff and grade_summary['percent'] > success_cutoff:
          <div id="course-success">
            <a href="${SUCCESS_BUTTON_URL}">
              ${settings.PROGRESS_SUCCESS_BUTTON_TEXT_OVERRIDE or _("Download your certificate")}
            </a>
          </div>
        %endif
      %endif
      <%
        bar_size = len(grade_summary['section_breakdown'])
        color_min = 50
        color_max = 200
        color_size = bar_size / 6 if bar_size % 3 == 0 else bar_size / 6 + 1
        base_color = int((color_max - color_min) / (color_size + 1))
        bar_colors = []

        for i in xrange(1, color_size + 1):
          bar_colors.append("{}, {}, {}".format(color_max, (base_color * i + color_min), color_min))
          bar_colors.append("{}, {}, {}".format((base_color * i + color_min), color_max, color_min))
          bar_colors.append("{}, {}, {}".format(color_min, color_max, (base_color * i + color_min)))
          bar_colors.append("{}, {}, {}".format(color_min, (base_color * i + color_min), color_max))
          bar_colors.append("{}, {}, {}".format((base_color * i + color_min), color_min, color_max))
          bar_colors.append("{}, {}, {}".format(color_max, color_min, (base_color * i + color_min)))
      %>
      <div id="grade-detail-graph2">
        <div class="grade-detail-table">
          <div class="y-axis">
            <div><p>${_("Grade graph")}</p></div>
            % for section in grade_summary['section_breakdown']:
            <div><p>${section['label']}</p></div>
            % endfor
            <div><p>${_('Total')}</p></div>
          </div>
          <div class="x-axis">
            <div class="grade">
            % for key, value in sorted(course.grade_cutoffs.items(), key=lambda x: x[1]):
              <% grade_left = value * 100 %>
              <p class="grade-name" style="left: ${grade_left}%">${key}</p>
            % endfor
            </div>
            <% bgc_index = 0 %>
            % for section in grade_summary['section_breakdown']:
            <% 
              bar_width = round(section['percent'] * 100, 1)
              bar_color = bar_colors[bgc_index]
            %>
            <div class="row">
              <div class="bar" style="width: ${bar_width}%; background-color: rgb(${bar_color})">
                <small>${bar_width}%</small>
              </div>
            </div>
            <% bgc_index += 1 %>
            % endfor
            <% total_score = grade_summary['percent'] * 100 %>
            <div class="row">
              <% bgc_index = 0 %>
              % for sec, scores in grade_summary['totaled_scores'].items():
              <% bar_color = bar_colors[bgc_index] %>
              <div class="total_bar" style="width: ${scores[0].earned}%; background-color: rgb(${bar_color})"></div>
              <% bgc_index += 1 %>
              % endfor
              <div class="total_score" style="width: ${total_score}%"><small>${total_score}%</small></div>
            </div>
          </div>
        </div>
        <div class="cutoffs">
          <div class="y-axis"></div>
          <div class="x-axis">
            % for key, value in sorted(course.grade_cutoffs.items(), key=lambda x: x[1]):
            <% percent_left = int(value * 100) %>
            <p class="grade-percent" style="left: ${percent_left}%">${percent_left}</p>
            % endfor
          </div>
        </div>
      </div>

      <div class="chapters">
        %for chapter in courseware_summary:
        %if not chapter['display_name'] == "hidden":
        <section>
          <h2>${ chapter['display_name'] }</h2>

          <div class="sections">
            %for section in chapter['sections']:
            <div>
              <%
              earned = section['section_total'].earned
              total = section['section_total'].possible
              percentageString = "{0:.0%}".format( float(earned)/total) if earned > 0 and total > 0 else ""
              %>

              <h3><a href="${reverse('courseware_section', kwargs=dict(course_id=course.id.to_deprecated_string(), chapter=chapter['url_name'], section=section['url_name']))}">
                ${ section['display_name'] }
                %if total > 0 or earned > 0:
                  <span class="sr">
                    ${_("{earned:.3n} of {total:.3n} possible points").format( earned = float(earned), total = float(total) )}
                  </span>
                %endif
                </a>
                %if total > 0 or earned > 0:
                  <span> ${"({0:.3n}/{1:.3n}) {2}".format( float(earned), float(total), percentageString )}</span>
                %endif
              </h3>
              <p>
                ${section['format']}

                %if section.get('due') is not None:
                  <%
                      formatted_string = get_time_display(section['due'], course.due_date_display_format, coerce_tz=settings.TIME_ZONE_DISPLAYED_FOR_DEADLINES)
                      due_date = '' if len(formatted_string)==0 else _(u'due {date}').format(date=formatted_string)
                  %>
                  <em>
                  ${due_date}
                  </em>
                %endif
              </p>

              <div class="scores">
                %if len(section['scores']) > 0:
                  <h3> ${ _("Problem Scores: ") if section['graded'] else _("Practice Scores: ")} </h3>
                  <ol>
                    %for score in section['scores']:
                    <li>${"{0:.3n}/{1:.3n}".format(float(score.earned),float(score.possible))}</li>
                    %endfor
                  </ol>
                %else:
                  <h3 class="no-scores"> ${_("No problem scores in this section")} </h3>
                %endif
              </div>


            </div> <!--End section-->
            %endfor
          </div> <!--End sections-->
        </section> <!--End chapter-->
        %endif
        %endfor
      </div> <!--End chapters-->

    </div>
  </div>
</div>
