@charset "UTF-8";

html, body {
  height: auto
}

/* ### header */
header.global {
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}
header.global .nav-courseware ol{
  margin-top: 0px;
}
.home > header .outer-wrappe {
  min-width: 0;
}
header.global .nav-global li{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
header.global .nav-global, header.global header.global-new .nav-courseware, header.global-new header.global .nav-courseware {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
header.global h1.logo {
  margin: 0 0 0 5px;
}
header.global h1.logo img{
	height: 55px;
	padding-top: 0px;
	margin-top: 0px;
	width: auto;
}
header.global.slim h1.logo img{
	height: 55px;
	width: auto;
	margin-top: 0px;
}
header.global.slim{
	padding: 5px 0 5px 0;
	box-shadow: none;
	border: none;
	height: auto;
}
header.global.slim nav{
	padding-top: 5px;
}
header.global nav {
  min-width: 0;
  height: auto;
  padding-top: 12px;
}
header.global .nav-courseware li .cta > i[class^="fa fa-"] {
  margin-right: 8px;
}

.view-register header.global nav, .view-login header.global nav {
  width: auto;
}

/* home icon */
header.global ol.user > li.primary > a.user-link .avatar {
  background-image: none;
  color: #3c3c3c;
  font-size: 1.3em;
  text-indent: 0;
  margin-top: 0px;
}
header.global ol.user {
	background-color: #fff;
	background-image: none;
	border-radius: 2px;
}
header.global ol user:hover {
	background-image: none;
	background-color: #eee;
}
header.global ol.user>li.primary>a{
	background-color: #fff;
	background-image: none;
}
header.global ol.user>li.primary>a:hover{
	background-image: none;
	background-color: #eee;
}
header.global ol li.primary>a{
	background-color: #fff;
	background-image: none;
}
header.global ol li.primary>a:hover{
	background-image: none;
	background-color: #eee;
}


@media screen and (max-width: 800px) {
  header.global nav {
    padding: 10px 5px;
  }
  header.global h1.logo {
    /* margin-top: 5px; */
  }
  header.global h1.logo img {
	margin-top: 5px;
	width: auto;
	height: 50px;
  }
  header.global .nav-courseware li {
    margin-right: 5px;
  }
  header.global .nav-courseware li .cta {
    padding: 0;
    width: 50px;
    height: 45px;
    font-size: 8px;
  }
  header.global .nav-courseware li .cta > i[class^="fa fa-"] {
    display: block;
    font-size: 30px;
    margin: 0;
  }
}

/* help_modal */
.help-tab {
  position: static;
  -webkit-transform: none;
          transform: none;
}
.help-tab a:link, .help-tab a:visited {
  font-weight: normal;
  border: 0 none;
  border-top-style: none;
  border-radius: 0;
  background: none;
  padding: 0;
  display: inline;
}
.help-tab a:link:hover, .help-tab a:link:focus, .help-tab a:visited:hover, .help-tab a:visited:focus {
  background: none;
}

/* ### footer */
.wrapper-footer {
  background-color: #fafafa;
  box-shadow: none;
}

.wrapper-footer footer {
  min-width: 0;
}

.view-register .wrapper-footer footer, .view-login .wrapper-footer footer, .view-passwordreset .wrapper-footer footer, .view-resign .wrapper-footer footer {
  width: auto;
}

.wrapper-footer footer .colophon .nav-colophon {
  margin: 5px 0 20px;
}

.wrapper-footer footer .colophon .nav-colophon li > a > i {
  padding-right: 5px;
}

.wrapper-footer footer #social-plugins {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
}

.wrapper-footer footer .references {
  display: block;
  float: right;
  padding: 10px 0;
  text-align: right;
}

.wrapper-footer footer .powered-by {
  clear: both;
  color: #b2b2b2;
  display: inline-block;
  font-size: 0.6875em;
  text-align: right;
  width: auto;
}

.wrapper-footer footer .copyright {
  color: #b2b2b2;
  display: inline-block;
  font-size: 0.6875em;
  float: left;
  margin-top: 20px;
  text-align: right;
  width: auto;
}

/* social plubins (sharrre)*/
#gacco-blog {
  float:left;
  margin: 0 10px 0 0;
  display: block;
  font-size: 16px;
  float: left;
  padding: 1px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 1px;
  background-color: #eee;
  border: 1px solid #c3c3c3;
}
#gacco-blog > i,
#gacco-blog > a {
  color: #000;
  display: inline-block;
  padding: 4px;
}
#gacco-blog > a:before {
    background-color: #d24d57;
    border-radius: 3px;
    color: #fff;
    content: "B";
    font-size: 14px;
    margin-right: 4px;
    padding: 0 4px;
}
.sharrre .box{
  float:left;
  margin: 0 20px 0 0;
}
.sharrre .count {
  color:#000;
  display:block;
  font-size:17px;
  float: right;
  padding:5px 10px;
  position:relative;
  text-align:center;
  text-decoration:none;
  background-color:#bababa;
  border-radius:4px;
}
.count:before {
    border: 10px solid transparent;
    border-right: 10px solid #bbb;
    content: "";
    position: absolute;
    right: 100%;
}
.sharrre .share {
  display: block;
  font-size: 16px;
  float: left;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 1px;
}
#gacco-twitter .share {
  background-color: #eee;
  border: 1px solid #cfcfcf;
}
#gacco-facebook .share {
  background-color: #3b55a0;
  padding: 0 1px
}
#gacco-twitter .share i {
  color: #55acee;
}
#gacco-facebook .share i,
#gacco-facebook .share span {
  color: #fff;
}
.sharrre .share i,
.sharrre .share span {
  display: inline-block;
  padding: 0 3px;
}
.sharrre .buttons {
  display:none;
  position:absolute;
  margin-left:50px;
  z-index:10;
  background-color:#fff;
}
.sharrre .button {
  float:left;
  max-width:50px;
  margin-left:10px;
}
.wrapper-footer footer a:hover,
.wrapper-footer footer a:focus,
.wrapper-footer footer a:active{
	border-bottom: none;
	color: inherit;
}


@media screen and (max-width: 800px) {
  .wrapper-footer {
    padding: 15px 5px 10px;
  }
  .wrapper-footer footer .colophon {
    position: relative;
    margin: 0;
    width: 100%;
  }
  .wrapper-footer footer .references {
    margin-top: 10px;
    width: 100%;
  }
  .wrapper-footer footer .copyright,
  .wrapper-footer footer .powered-by{
    display: block;
    text-align: left;
    margin-left: 20px;
  }
  .wrapper-footer footer .colophon .nav-colophon {
    border-right: 1px solid #b2b2b2;
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
    width: 40%;
  }
  .wrapper-footer footer .colophon .nav-colophon li {
    float: none;
    margin: 0;
  }
  .wrapper-footer footer .colophon .nav-colophon li a {
    display: block;
    padding: 15px 0;
  }
  .wrapper-footer footer #social-plugins {
    padding-bottom: 20px;
    width: auto;
  }
  #gacco-twitter > a,
  #gacco-facebook > a {
    margin-bottom: 10px;
    margin-left: 10px;
  }
  #gacco-facebook .share,
  #gacco-twitter .share,
  #gacco-blog{
    padding: 10px 0;
    width: 100px;
  }
  #gacco-blog {
    margin-left: 10px;
  }
  #gacco-twitter,
  #gacco-facebook,
  #gacco-blog {
    clear: both;
  }
	.sharrre .count {
	padding:15px 20px;
	}
}
@media screen and (max-width: 480px) {
  .wrapper-footer footer .colophon .nav-colophon {
    border: 0 none;
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  .wrapper-footer footer #social-plugins {
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 0;
  }
}

/* ### top page */
.home > header {
  margin-top: 0;
  height: auto;
  overflow: visible;
}

.home > header .title {
  margin-left: 18%;
}

.home > header .media {
  min-width: 150px;
}

.home > header .outer-wrapper {
  min-width: 0;
  padding: 120px 10px 120px;
}

@media screen and (max-width: 800px) {
  .home > header .title {
    margin: 0 10%;
    width: 80%;
    padding: 0;
  }

  .home > header .media {
    margin-left: 10%;
    width: 200px
  }
}

/* top page / find courses */
.container {
  min-width: 0;
  width: auto; /* for dashboard */
  padding: 0 30px;
}

.container, section.outside-app {
  min-width: 0;
}

.highlighted-courses .courses .course, .find-courses .courses .course {
  min-width: 250px;
}

.highlighted-courses .courses .courses-listing .courses-listing-item, .find-courses .courses .courses-listing .courses-listing-item {
  width: auto;
}

/* ### login/register page */
.view-login .introduction header,
.view-register .introduction header{
	height: 120px;
	background: transparent url("../images/bar_about.png") -330px 0px repeat;
	background-color: #ccc;
}
.view-register .introduction header .title .title-super,
.view-login .introduction header .title .title-super,
.view-passwordreset .introduction header .title .title-super,
.view-resign .introduction header .title .title-super{
	font-size: 26px;
	line-height: normal;
	text-transform: none;
	color: #333;
	font-weight: bold;
	margin-top: -21px;
}
@media screen and (max-width: 800px) {
	.view-register .introduction header .title .title-super,
	.view-login .introduction header .title .title-super,
	.view-passwordreset .introduction header .title .title-super,
	.view-resign .introduction header .title .title-super{
		margin-top: 18px;
	}
}
.view-login .introduction header .title .title-sub,
.view-register .introduction header .title .title-sub{
	font-size: 20px;
	margin-left: 2px;
	text-transform: lowercase;
	color: #333;
}

#content section.introduction, #content section.login, #content section.register {
  max-width: 1180px;
  width: 80%;
}

.login aside, .register aside, .passwordreset aside, .resign aside, #forgot-password-modal #password-reset aside {
  width: 35%;
}

.login .content, .register .content, .passwordreset .content, .resign .content, #forgot-password-modal #password-reset .conten {
  width: 55%;
}

.register .form-actions span.minority {
  font-size: 10px;
}

@media screen and (max-width: 800px) {
  #content section.introduction, #content section.login, #content section.register {
    width: 100%;
  }
  .login aside, .register aside, .passwordreset aside, .resign aside, #forgot-password-modal #password-reset aside {
    width: 100%;
    margin-top: 20%;
  }
  .login .content, .register .content, .passwordreset .content, .resign .content, #forgot-password-modal #password-reset .conten {
    width: 100%;
  }
  .view-register .introduction header .title .title-sub, .view-login .introduction header .title .title-sub, .view-passwordreset .introduction header .title .title-sub, .view-resign .introduction header .title .title-sub {
    font-size: 15px;
    margin-left: 10px;
  }
  #field-password .tip-input {
    position: relative;
  }
  .view-register .introduction header .title, .view-login .introduction header .title, .view-passwordreset .introduction header .title, .view-resign .introduction header .title {
    left: 10px;
    top: 10px;
  }
}

/* ### activate page */
.container.activation .message {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {
  .container.activation .message {
    padding: 20px 5px;
    width: 90%;
  }
  .container.activation {
    padding: 30px 0 0;
  }
}

/* ### change password & resign page */
.view-passwordreset .container,
.view-resign .container{
	max-width: 1180px;
	width: 80%;
}
.view-passwordreset .introduction header,
.view-resign .introduction header{
	height: 120px;
	background: transparent url("../images/bar_about.png") -330px 0px repeat;
	background-color: #ccc;
}
.view-passwordreset header.global nav,
.view-resign header.global nav{
	width: auto;
}

/* ### dashboard page */
#unenroll_course_number{
	text-transform: none;
}
#dashboard-main {
  padding-top: 30px;
}

.dashboard .my-courses .course{
	z-index: 99;
}

.dashboard .my-courses .course .cover{
	width: 30%;
	height: auto;
}
.dashboard .my-courses .course .cover img{
	height: auto;
	min-height: 0px;
}
.dashboard .my-courses .course .info {
  float: left;
  padding: 0 10px 0 30px;
  width: 60%;
}
.dashboard .dashboard-banner{
	word-wrap: break-word;
}
.dashboard .dashboard-banner p{
	word-wrap: break-word;
}

@media screen and (max-width: 620px) {
	.dashboard .my-courses .course .cover{
		width: 100%;
		height: auto;
	}
	.dashboard .my-courses .course .info {
		float: left;
		padding: 5px 0 0 0;
		width: 100%;
	}
}


.dashboard .my-courses .course .info > hgroup .date-block {
  position: relative;
  float: right;
}

.dashboard .my-courses a.unenroll, .dashboard .my-courses a.email-settings {
  margin-left: 15px;
}

.dashboard .profile-sidebar {
  box-shadow: none;
  z-index: 99;
}

nav ol.course-nav-menu {
  display: none;
}

.find-course-button > a {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  font-weight: bold;
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #666;
  background-image: none;
  border-radius: 3px;
  border-style: none;
  box-shadow: 0px 0px 0px black;
  color: #fff;
  text-shadow: none;
  text-transform: none;
}

@media screen and (max-width: 800px) {
  .find-course-placeholder {
    display: none !important;
  }
  #dashboard-main {
    padding: 30px 10px 0;
  }
  .dashboard .profile-sidebar {
    width: 100%;
  }
  .dashboard .my-courses {
    width: 100%;
    padding-top: 30px;
  }
  .dashboard .my-courses > header {
    margin: 30px 0;
  }
  header.global ol.nav-global > li.nav-global-01 > [href="/courses"] {
    font-size: 10px;
  }

  header.global ol.user > li.primary > a.user-link {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    width: 0;
  }
}

@media screen and (max-width: 480px) {
  .dashboard .my-courses .course .info {
    padding: 10px 0 0;
    width: 100%;
  }
}

/* ### course list */
.find-courses header.search .inner-wrapper, .university-profile header.search .inner-wrapper {
  min-width: 0;
}

/* ### course about page */
.course-info .details .inner-wrapper .faq .responses{
	float: inherit;
}

.course-info header.course-profile {
  background: url("../images/bg01.png") repeat;
  border-bottom: 0 none;
  box-shadow: none;
  height: auto;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: visible;
}
.course-info header.course-profile .intro-inner-wrapper {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  min-width: 0;
  max-width: 960px;
}
.course-info header.course-profile .intro-inner-wrapper .media {
  min-width: 350px;
  vertical-align: middle;
}
.course-info .details {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .course-info header.course-profile {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .course-info header.course-profile .intro-inner-wrapper {
    border: 0 none;
    box-shadow: none;
    margin: 0 15px 0 15px;
    padding-bottom: 15px;
  }
  .course-info header.course-profile .intro-inner-wrapper .table .intro .main-cta a span,
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
  .course-info header.course-profile .intro-inner-wrapper .intro > hgroup h1 {
    font-size: 16px
  }
  .course-info header.course-profile .intro-inner-wrapper .table .intro .main-cta a span,
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong {
    width: 100%;
    margin-bottom: 20px;
  }
  .course-info .container {
    padding: 0 10px;
  }
  .course-info .details {
    font-size: 10px;
  }
  .course-info .details h1 {
    font-size: 12px;
  }
  .course-info .details h2 {
    font-size: 11px;
  }
}

@media screen and (max-width: 600px) {
  .course-info header.course-profile .intro-inner-wrapper .media {
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    min-width: 250px;
  }
  .course-info header.course-profile .intro-inner-wrapper .intro {
    display: block;
    width: 100%;
  }
  .course-info header.course-profile .intro-inner-wrapper .table .intro .main-cta a span,
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
  .course-info header.course-profile .intro-inner-wrapper .intro > hgroup h1 {
    font-size: 20px;
  }
}

/* ### global */
/* modal */
@media screen and (max-width: 480px) {
  .modal, .leanModal_box {
    width: 100%;
  }
}

/* content width */
@media screen and (max-width: 480px) {
  .content, div.course-wrapper section.course-content, div.info-wrapper section.updates, div.book-wrapper .book, .profile-wrapper .course-info, div.gradebook-wrapper section.gradebook-content, .instructor-dashboard-wrapper section.instructor-dashboard-content, section.instructor-dashboard-content-2 {
    padding: 5px;
  }
}

/* gray button */
.dashboard .my-courses .course .info .enter-course.archived,
.forum-new-post-form .cancel,
.xmodule_display.xmodule_LTIModulediv.lti .wrapper-lti-link .lti-link .link_lti_new_window  {
  background-color: #666;
  background-image: none;
  border-radius: 3px;
  border-style: none;
  box-shadow: 0px 0px 0px black;
  color: #fff;
  padding: 14px 28px 15px 28px;
  text-shadow: none;
  text-transform: none;
}
div.course-wrapper > a[href="#course-accordion-modal"],
header.global div.menu-button,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.add-to-cart,
div.history-controls input[type="submit"],
input[type="reset"],
input[type="button"],
form input[type="reset"],
form input[type="button"],
form button,
form .button,
button,
.button,
.gray-button,
.light-button,
a.light-button{
  background-color: #666;
  /* background-image: none; */
  border-radius: 3px;
  border-style: none;
  box-shadow: 0px 0px 0px black;
  color: #fff;
/*   padding: 14px 28px 15px 28px; */
  text-shadow: none;
  text-transform: none;
}
header.global .nav-courseware li .cta-login{
  background-color: rgb(102, 102, 102);
  border-radius: 3px;
  border-style: none;
  box-shadow: 0px 0px 0px black;
  color: #fff;
  padding: 14px 28px 15px 28px;
  text-shadow: none;
  text-transform: none;
}
header.global .nav-courseware li .cta-register{
  border-radius: 3px;
  border-style: none;
  box-shadow: 0px 0px 0px black;
  color: #fff;
  padding: 14px 28px 15px 28px;
  text-shadow: none;
  text-transform: none;
  background-color: #43ac6a;
}


@media screen and (max-width: 800px) {
	header.global .nav-courseware li .cta-login{
		padding: 0;
	}
}
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.disabled{
  background-image: none;
  background-color: transparent;
  border: 1px solid #222;
  border-radius: 3px;
  color: #222;
  box-shadow: 0px 0px 0px black;
  padding: 14px 28px 15px 28px;
  margin-top: 0px;
  text-shadow: none;
  text-transform: none;
}


.dashboard .my-courses .course .info .enter-course.archived:hover:not(:disabled),
.forum-new-post-form .cancel:hover:not(:disabled),
div.course-wrapper > a[href="#course-accordion-modal"]:hover:not(:disabled),
header.global div.menu-button:hover:not(:disabled),
.find-course-button > a:hover:not(:disabled),
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.add-to-cart:hover:not(:disabled),
header.global .nav-courseware li .cta-login:hover:not(:disabled),
div.history-controls input[type="submit"]:hover:not(:disabled),
input[type="reset"]:hover:not(:disabled),
input[type="button"]:hover:not(:disabled),
form input[type="reset"]:hover:not(:disabled),
form input[type="button"]:hover:not(:disabled),
form button:hover:not(:disabled),
form .button:hover:not(:disabled),
button:hover:not(:disabled),
.button:hover:not(:disabled),
.gray-button:hover:not(:disabled),
.light-button:hover:not(:disabled),
a.light-button:hover:not(:disabled),
.xmodule_display.xmodule_LTIModulediv.lti .wrapper-lti-link .lti-link .link_lti_new_window:hover:not(:disabled) {
  background-color: #222;
  background-image: none;
  color: #fff;
  text-decoration: none;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.register:hover:not(:disabled){
	background-color: transparent;
    border: solid 1px #222;
	color: #222;
	cursor: default;
}

/* blue button */
.dashboard .my-courses .message-status .actions .action .btn,
.dashboard .my-courses .course .info .enter-course,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
.blue-button{
  background-color: #008CBA;
  background-image: none;
  border:transparent solid 1px;
  border-style: none;
  box-shadow: 0px 0px 0px black;
  color: #fff;
  padding: 14px 28px 15px 28px;
  text-shadow: none;
  text-transform: none;
}
.container .discussion-module .new-post-btn,
.container .discussion-user-threads .new-post-btn,
.container .discussion-body .forum-nav .new-post-btn,
.container .forum-new-post-form .submit,
.container .discussion-body .discussion-submit-post,
.container .discussion-module .discussion-submit-post,
.container .discussion-user-threads .discussion-submit-pos,
.xmodule_display.xmodule_CapaModule div.problem div.action .save,
.xmodule_display.xmodule_PeerGradingModule section.open-ended-child div.action input.save,
.xmodule_display.xmodule_ConditionalModule div.problem div.action .save,
.xmodule_display.xmodule_CombinedOpenEndedModule section.open-ended-child div.action input.save {
  background-color: #008CBA;
  background-image: none;
  border:transparent solid 1px;
  border-style: none;
  box-shadow: 0px 0px 0px black;
  color: #fff;
  text-shadow: none;
  text-transform: none;
}
.container .discussion-body .forum-nav .new-post-btn{
	padding: 0;
}
.container .forum-new-post-form .submit,
.container .forum-new-post-form .cancel,
.container .discussion-module .new-post-btn,
.xmodule_display.xmodule_CapaModule div.problem div.action .save,
.xmodule_display.xmodule_PeerGradingModule section.open-ended-child div.action input.save,
.xmodule_display.xmodule_ConditionalModule div.problem div.action .save,
.xmodule_display.xmodule_CombinedOpenEndedModule section.open-ended-child div.action input.save {
	padding-top: 0;
	padding-bottom: 0;
}
@media screen and (max-width: 400px) {
	.container .discussion-module .new-post-btn{
		width: 20px;
		font-size: 0px;	
	}
}

.dashboard .my-courses .message-status .actions .action .btn:hover:not(:disabled),
.container .discussion-module .new-post-btn:hover:not(:disabled),
.container .discussion-user-threads .new-post-btn:hover:not(:disabled),
.container .discussion-body .forum-nav .new-post-btn:hover:not(:disabled),
.forum-new-post-form .submit:hover:not(:disabled),
.container .discussion-body .discussion-submit-post:hover:not(:disabled),
.container .discussion-module .discussion-submit-post:hover:not(:disabled),
.container .discussion-user-threads .discussion-submit-pos:hover:not(:disabled),
.dashboard .my-courses .course .info .enter-course:hover:not(:disabled),
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:hover:not(:disabled),
.blue-button:hover:not(:disabled),
.xmodule_display.xmodule_CapaModule div.problem div.action .save:hover:not(:disabled),
.xmodule_display.xmodule_PeerGradingModule section.open-ended-child div.action input.save:hover:not(:disabled),
.xmodule_display.xmodule_ConditionalModule div.problem div.action .save:hover:not(:disabled),
.xmodule_display.xmodule_CombinedOpenEndedModule section.open-ended-child div.action input.save:hover:not(:disabled) {
  background-color: #006f94;
  background-image: none;
  color: #fff;
}

/* green buton */
input[type="submit"],
form input[type="submit"],
.xmodule_display.xmodule_CapaModule div.problem div.action .check {
  background-color: #43ac6a;
  background-image: none;
  border-radius: 3px;
  border:transparent solid 1px;
  box-shadow: 0px 0px 0px #666;
  color: #fff;
  text-shadow: none;
  text-transform: none;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.view-register .form-actions button[type="submit"]{
	background-color: #43ac6a;
	background-image: none;
	border-radius: 3px;
	border:transparent solid 1px;
	box-shadow: 0px 0px 0px transparent;
}
.view-register .form-actions button[type="submit"]:hover{
	background-color: #368a55;
}
.view-login .form-actions button[type="submit"],
.view-passwordreset .form-actions button[type="submit"]{
	background-color: #666666;
	background-image: none;
	border-radius: 3px;
	border:transparent solid 1px;	
	box-shadow: 0px 0px 0px transparent;
}
.view-login .form-actions button[type="submit"]:hover,
.view-passwordreset .form-actions button[type="submit"]:hover{
	background-color: #525252;
}

@media screen and (max-width: 800px) {
	header.global .nav-courseware li .cta-register{
		padding: 0;
		width: 75px;
	}
}

#change_name_form .submit input[type="submit"],
#change_email_body .submit input[type="submit"],
#email_settings_form .submit input[type="submit"],
#feedback_form .submit input[type="submit"],
#unenroll_form .submit input[type="submit"]{
	padding: 14px 28px 15px 28px;
}

header.global .nav-courseware li .cta-register:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled),
form input[type="submit"]:hover:not(:disabled),
.xmodule_display.xmodule_CapaModule div.problem div.action .check:hover:not(:disabled) {
  background-color: #368a55;
  background-image: none;
  color: #fff;
}

.dashboard .my-courses .course .info .enter-course:active:not(:disabled),
.dashboard .my-courses .course .info .enter-course:focus:not(:disabled){
	border: none;
	box-shadow: none;
}

/* course_about header table */
.course-info header.course-profile .intro-inner-wrapper>div.table{
	max-width: 960px;
	box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}
/* course_about register button */
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart{
  background-color: #43ac6a;
  background-image: none;
  border-radius: 3px;
  border:transparent solid 1px;
  box-shadow: 0px 0px 0px #666;
  color: #fff;
  padding: 14px 28px 15px 28px;
  text-transform: none;
  width: 100%;
  text-shadow: none;
  text-transform: none;
}
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses:hover:not(:disabled),
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled),
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:hover:not(:disabled){
  background-color: #368a55;
  background-image: none;
  color: #fff;
  text-transform: none;
}

.course-info .container nav{
	font-size: 20px;
}

/* font */
html, body, h1, h2, h3, h4, h5, h6, div, p, a, label {
  font-family: "Meiryo","Hiragino Kaku Gothic ProN","MS P Gothic",Verdana,Arial,Helvetica,sans-serif !important;
  text-transform: none;
}

.view-register .login aside .cta h3,
.login aside .cta .view-register h3,
.view-register .register aside .cta h3,
.register aside .cta .view-register h3,
.view-register .passwordreset aside .cta h3,
.passwordreset aside .cta .view-register h3,
.view-register .resign aside .cta h3,
.resign aside .cta .view-register h3,
.view-register #forgot-password-modal #password-reset aside .cta h3,
.forgot-password-modal #password-reset aside .cta .view-register h3,
.view-register .login .status .message-title,
.login .status .view-register .message-title,
.view-register .register .status .message-title,
.register .status .view-register .message-title,
.view-register .passwordreset .status .message-title,
.passwordreset .status .view-register .message-title,
.view-register .resign .status .message-title,
.resign .status .view-register .message-title,
.view-register #forgot-password-modal #password-reset .status .message-title,
.forgot-password-modal #password-reset .status .view-register .message-title,
.view-login .login aside .cta h3,
.login aside .cta .view-login h3,
.view-login .register aside .cta h3,
.register aside .cta .view-login h3,
.view-login .passwordreset aside .cta h3,
.passwordreset aside .cta .view-login h3,
.view-login .resign aside .cta h3,
.resign aside .cta .view-login h3,
.view-login #forgot-password-modal #password-reset aside .cta h3,
.forgot-password-modal #password-reset aside .cta .view-login h3,
.view-login .login .status .message-title,
.login .status .view-login .message-title,
.view-login .register .status .message-title,
.register .status .view-login .message-title,
.view-login .passwordreset .status .message-title,
.passwordreset .status .view-login .message-title,
.view-login .resign .status .message-title,
.resign .status .view-login .message-title,
.view-login #forgot-password-modal #password-reset .status .message-title,
.forgot-password-modal #password-reset .status .view-login .message-title,
.view-passwordreset .login aside .cta h3,
.login aside .cta .view-passwordreset h3,
.view-passwordreset .register aside .cta h3,
.register aside .cta .view-passwordreset h3,
.view-passwordreset .passwordreset aside .cta h3,
.passwordreset aside .cta .view-passwordreset h3,
.view-passwordreset .resign aside .cta h3,
.resign aside .cta .view-passwordreset h3,
.view-passwordreset #forgot-password-modal #password-reset aside .cta h3,
.forgot-password-modal #password-reset aside .cta .view-passwordreset h3,
.view-passwordreset .login .status .message-title,
.login .status .view-passwordreset .message-title,
.view-passwordreset .register .status .message-title,
.register .status .view-passwordreset .message-title,
.view-passwordreset .passwordreset .status .message-title,
.passwordreset .status .view-passwordreset .message-title,
.view-passwordreset .resign .status .message-title,
.resign .status .view-passwordreset .message-title,
.view-passwordreset #forgot-password-modal #password-reset .status .message-title,
.forgot-password-modal #password-reset .status .view-passwordreset .message-title,
.view-resign .login aside .cta h3,
.login aside .cta .view-resign h3,
.view-resign .register aside .cta h3,
.register aside .cta .view-resign h3,
.view-resign .passwordreset aside .cta h3,
.passwordreset aside .cta .view-resign h3,
.view-resign .resign aside .cta h3,
.resign aside .cta .view-resign h3,
.view-resign #forgot-password-modal #password-reset aside .cta h3,
.forgot-password-modal #password-reset aside .cta .view-resign h3,
.view-resign .login .status .message-title,
.login .status .view-resign .message-title,
.view-resign .register .status .message-title,
.register .status .view-resign .message-title,
.view-resign .passwordreset .status .message-title,
.passwordreset .status .view-resign .message-title,
.view-resign .resign .status .message-title,
.resign .status .view-resign .message-title,
.view-resign #forgot-password-modal #password-reset .status .message-title,
.forgot-password-modal #password-reset .status .view-resign .message-title {
	text-transform: none;
}

@media screen and (max-width: 800px) {
  .dashboard .profile-sidebar header.profile h1.user-name,
  .dashboard .my-courses .course .info > hgroup h3 a,
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  h6, h5, h4 {
    font-size: 12px;
  }
}
