## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>


<div class="wrapper wrapper-footer edxyfooter">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
            <li class="nav-colophon-01">
              <a href="${marketing_link('TOS')}" rel="noreferrer"><i class="fa fa-chevron-circle-right"></i>${_("Terms of Service and Honor Code")}</a>
            </li>
            <li class="nav-colophon-02">
              <a href="${marketing_link('PRIVACY')}" rel="noreferrer"><i class="fa fa-chevron-circle-right"></i>${_("Privacy Policy")}</a>
            </li>
            <li class="nav-colophon-03">
              <a id="faq" href="${marketing_link('FAQ')}" rel="noreferrer"><i class="fa fa-chevron-circle-right"></i>${_("FAQ")}</a>
            </li>
            <li class="nav-colophon-04 help-tab">
              <a href="#help-modal" rel="leanModal" role="button"><i class="fa fa-chevron-circle-right"></i>${_("Help")}</a>
            </li>
        </ol>
      </nav>
      <div id="social-plugins" style="display: none;">
        <div id="gacco-twitter" data-url="http://gacco.org/" data-text="無料オンライン大学講座「gacco」登録受付中！" data-title="Twitter"></div>
        <div id="gacco-facebook" data-url="http://gacco.org/" data-title="Facebook"></div>
        <div id="gacco-blog">
          <a href="${marketing_link('BLOG')}" target="_blank" rel="noreferrer">Blog</a>
        </div>
      </div>
    </div>

    <div class="references">
      <div class="powered-by">
        <small>NTT DOCOMO, INC.<br>DOCOMO gacco, Inc.</small>
      </div>
      <div class="copyright">
        <small>Copyright (c) 2015 DOCOMO gacco, Inc., except where noted, all rights reserved.</small>
      </div>
    </div>
  </footer>
</div>
<%include file="help_modal.html"/>
<script type="text/javascript">
  var _dcmlinker = _dcmlinker || new Array();
  _dcmlinker.push("gacco.org");
  _dcmlinker.push("support.gacco.org");
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//docomo-analytics.com/dcm/";
    _paq.push(['setTrackerUrl', u+'tr/dcmAn/union/']);
    _paq.push(['setSiteId', 8]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'js/union.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
